
<section>
  <div class="wrapper">
    <div class="projects-head">
      <div class="head">
        <span>Portfolio</span>
        <h2>Featured Projects</h2>
      </div>
      <p>
        Explore a selection of my work here - Interact with <br />projects to
        see my skills in action.
      </p>
    </div>
    <div class="projects">
      <div class="project">
        <h4>Join</h4>
        <div class="used-technologies">
          <p>HTML</p>
          <hr />
          <p>CSS</p>
          <hr />
          <p>Javascript</p>
          <hr />
          <p>Firebase</p>
        </div>
      </div>
      <div class="project">
        <h4>El Pollo Loco</h4>
        <div class="used-technologies">
          <p>HTML</p>
          <hr />
          <p>CSS</p>
          <hr />
          <p>Javascript</p>
        </div>
      </div>
    </div>
  </div>
</section>
