
<section>
  <div class="wrapper">
    <div class="projects-head">
      <div class="head">
        <span>Portfolio</span>
        <h2>Featured Projects</h2>
      </div>
      <p>
        Explore a selection of my work here - Interact with <br />projects to
        see my skills in action.
      </p>
    </div>
    <div class="projects">
      <div class="project">
        <h4>Join</h4>
        <div class="used-technologies">
          <p>HTML</p>
          <hr />
          <p>CSS</p>
          <hr />
          <p>Javascript</p>
          <hr />
          <p>Firebase</p>
        </div>
      </div>
      <div class="project">
        <h4>El Pollo Loco</h4>
        <div class="used-technologies">
          <p>HTML</p>
          <hr />
          <p>CSS</p>
          <hr />
          <p>Javascript</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-background">
    <div class="modal">
      <div class="project-text">
        <div class="number-head">
          <span>01</span>
          <h4>Join</h4>
        </div>
        <div class="description">
          <p class="desc-head">What is this project about?
          </p>

          <p class="desc-text"> 
            Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. 
            </p>
        </div>
        <div class="link-buttons"></div>
      </div>
      <div class="project-image"></div>
    </div>
  </div>
</section>



