<section>
  <div class="wrapper">
    <div class="projects-head">
      <div class="head">
        <span>Portfolio</span>
        @if(globalService.isDE){
          <h2>Projekt-Highlights</h2>
        } @else {
          <h2>Featured Projects</h2>
        }
       
      </div>
      @if(globalService.isDE){
        <p>
          Entdecke hier eine Auswahl meiner Projekte <br> Erlebe meine Fähigkeiten direkt in Aktion.
        </p>
      } @else {
        <p>
          Explore a selection of my work here - Interact with <br />projects to
          see my skills in action.
        </p>
      }
    </div>
    <div class="projects">
     


      <div (click)="openModal(0)" class="project join">
        <h4>Join</h4>
        <div class="used-technologies">
          <p>HTML</p>
          <hr />
          <p>CSS</p>
          <hr />
          <p>Javascript</p>
          <hr />
          <p>Firebase</p>
        </div>
        

      </div>
      <img class="join-pic" src="../../assets/img/join.png">
      <div (click)="openModal(1)" class="project pollo">
        <h4>El Pollo Loco</h4>
        <div class="used-technologies">
          <p>HTML</p>
          <hr />
          <p>CSS</p>
          <hr />
          <p>Javascript</p>
        </div>
        
      </div>

      <img class="pollo-pic" src="../../assets/img/pollo.png">
    </div>
    
  </div>





 @if(opens && modalIndex == 0){
  <app-project-modal (closeEvent)="closeModal()" (nextEvent)="nextProject()" ></app-project-modal>
 } @else if(opens && modalIndex == 1){
  <app-modal-pollo (closeEvent)="closeModal()" (nextEvent)="nextProject()" ></app-modal-pollo>
 }

</section>
