@import "../../styles.scss";

section {
  height: 110dvh;
  background-color: rgba(28, 28, 28, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: $primary-color;
  font-size: 64px;
  font-weight: 700;
  font-family: "Fira Code", monospace;
}

.about-me {
  display: flex;
gap: 130px;
  margin: 144px 120px;

  width: 1320px;
  height: 710px;
}

.my-picture {
  display: flex;
  width: 50%;
  >img {
    width: 590px;
    height: 590px;
  }
}

.about-me-container {
  color: white;
  width: 50%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: end;

  > h4 {
    color: $primary-color;
    font-family: "Karla", monospace;
    font-size: 24px;
    font-weight: 500;
  }

  > h2 {
    color: $primary-color;
    font-size: 64px;
    font-weight: 700;
  }
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 32px;
  max-height: 600px;
  border: 2px solid $primary-color;
  background-color: $second-color-70;
  width: 570px;
  border-radius: 30px;
  animation: flipIt 1s ease-in-out forwards;
  transition: 0.3 linear;
}

@keyframes flipIt {

0% {
  transform: rotateY(-260deg);
  color: transparent;
  
}




49% {
  scale: 1.05;
  color: transparent;

};

50% {
  color: $primary-10;
}

75% {
  scale: 1;
}







100% {
  transform: rotateY(0deg);
  background-color: $primary-10;
}
}

.heading-me-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  > p {
    font-family: "Karla", monospace;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }


}

.lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.list {
  display: flex;
  gap: 30px;
  > p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-family: "Karla", monospace;
    color: rgba(255, 255, 255, 0.8);
    
  }
}
