<header>
  <div class="left-container">
    <div class="language-toggle">
      <button class="lang-btn" [class.active]="isDE" (click)="toggleLanguage()">
        DE
      </button>
      <button class="lang-btn" [class.active]="!isDE" (click)="toggleLanguage()">
        EN
      </button>
    </div>
    <ul>
      <li>About me</li>
      <li>Skills</li>
      <li>Projects</li>
    </ul>
  </div>
  <div class="right-contaner">
    <img src="../../../assets/img/4. Logo.svg" />
  </div>
</header>
