<footer>
  <div class="main-footer">
    <div class="footer-main">
      <div class="left width">
        <a href="#"
          ><img class="mc-logo" src="../../../assets/img/MClogo.svg"
        /></a>

        <div class="location-description">
          <p>Web Developer</p>
          <p>Berlin Germany</p>
        </div>
      </div>
      <div class="middle width">
        <p>Murat Catili 2024</p>
      </div>
      <div class="right width">
        <div class="link-container">
          <a href="https://github.com/RyderzBLN" target="_blank">Github</a>
          <a
            href="https://www.linkedin.com/in/murat-catili-749848347/"
            target="_blank"
            >Linkedin</a
          >
          <a href="mailto:developer@catili.de">Email</a>
          <a [routerLink]="['/app-imprint']">
            @if(globalService.isDE){ Impressum <br />
            Datenschutzerklärung } @else { Imprint <br />
            Legal Notice }</a
          >
        </div>
      </div>
    </div>
    <div class="resp-name">
      <p>Murat Catili 2024</p>
    </div>
  </div>
</footer>
