@import "../../../styles.scss";


section {
    background-color: $first-color;
}

.main-footer {
max-width: 1940px;
margin: 0 auto;
background-color: $first-color;
    min-height: 25dvh;

    padding-top: 32px;

    @media (max-width: 700px) {
       min-height: 30dvh;
        
    }

    @media (max-width: 400px) {
        min-height: 35dvh;
         
     }
}

.footer-main {
    display: flex;
    padding: 0px 96px 64px 96px;

    height: 130px;

    @media(max-width: 800px) {
  
        padding: 0px 24px 54px 24px;
    }

    @media(max-width: 450px) {
        justify-content: space-between;
        padding: 0px 8px 20px 8px;
    }
}


.left {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media(max-width: 450px) {
       width: 50% !important;
    }
}

.location-description {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        font-family: "Karla", monospace;
        color: white;
        font-size: 16px;
    }
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 18px;
        color: $primary-color;
        font-family: "Fira Code", monospace;
        white-space: wrap;

        @media(max-width: 550px) {
           margin-left: 55px;
        }
    }

@media(max-width: 450px) {
    display: none;
}
}

.resp-name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    font-family: "Fira Code", monospace;
    font-size: 18px;
    padding-bottom: 12px;

    @media(min-width: 450px) {
        display: none;
    }
}

.right {
    display: flex;
align-items: flex-end;
justify-content: center;
    flex-direction: column;


    text-align: left;
 @media(max-width: 450px) {
       width: 50% !important;
    }
}

.link-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
}


a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Karla", monospace;
    
}

.width {
    width: 33.3333%;
    height: 100%;
}

