@import "../../styles.scss";


section {
    height: 80dvh;
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, $second-color-30 0%, $first-color 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    padding: 0 96px 144px 96px;
}



h4 {
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;
    font-family: "Karla", monospace;
}

span {
    font-size: 16px;
    color: white;
    font-family: "Fira Code", monospace;

}

.main-container {
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill-container {
    display: flex;
    gap: 96px;
}

.skill-text {
height: 500px;
width: 520px;
background: $primary-10;
border: 1px solid $primary-color;
border-radius: 30px;
}

.skill-show {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: start;
    align-items: center;
    min-height: 115px;
    width: 110px;
    text-align: center;
    letter-spacing: -3%;
    border: 1px solid $primary-color;
}

.skill-icons {
    display: flex;
    flex-direction: column;
    gap: 40px;

height: 100%;
border: 1px solid $primary-color;

}

.layout-container {
    display: flex;
    gap: 72px;

}