@import 'typeface-karla';


$first-color: rgba(28, 28, 28, 1);
$second-color: rgba(8, 70, 59, 1);
$second-color-70: rgba(8, 70, 59, 0.7);
$second-color-10: rgba(8, 70, 59, 0.1);
$primary-color: rgb(61, 207, 182, 1);
$primary-10: rgba(61, 207, 182, 0.1);
$primary-30: rgba(61, 207, 182, 0.3);
$primary-half: rgba(61, 207, 182, 0.5);




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: auto;
    background: linear-gradient(55.22deg, $first-color 36.26%, $second-color 93.28%);
    background-repeat: no-repeat;
    background-size: contain;

}

body::-webkit-scrollbar {
    width: 8px;   
    height: 10px;            
  }

  body::-webkit-scrollbar-thumb {
    background-color: $first-color;    
    border-radius: 10px;      
    border: 5px solid $primary-color; 
  }
  body::-webkit-scrollbar-track {
    background: $second-color;   
  }

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}


