@import 'typeface-karla';


$first-color: rgba(28, 28, 28, 1);
$second-color: rgba(8, 70, 59, 1);
$second-color-30: rgba(8, 70, 59, 0.35);
$primary-color: rgba(61, 207, 182, 1);
$primary-10: rgba(61, 207, 182, 0.1);
$primary-half: rgba(61, 207, 182, 0.5);



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1940px;
    margin: auto;
    background: linear-gradient(55.22deg, $first-color 36.26%, $second-color 93.28%);
    background-repeat: no-repeat;
    background-size: contain;
}

ul {
    list-style: none;
}
