@import "../../styles.scss";


section {
  padding: 24px 0px;
  word-wrap: break-word;
  color: white !important;
  font-family: "Fira Code", monospace !important;
  display: flex;
  line-height: 28px;
  align-items: center;
  text-align: left;
  text-align: justify;
  flex-direction: column;
  height: 85dvh;
  width: 100%;
  background: linear-gradient(
    55.22deg,
    $first-color 36.26%,
    $second-color 93.28%

  );
  overflow-y: auto;

  h2 {
    padding-bottom: 18px;
    padding-top: 18px;
  }
} 


.legal-notice {
  max-width: 97%;
  padding-left: 20px;
  padding-right: 20px;
}

.imprint {
line-height: 26px;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
  padding-left: 45px;
  align-items: start;
  margin-bottom: 54px;
@media (max-width: 1000px) {
    align-items: center;
    padding-left: 10px;
}



  .imp-text {
    font-size: 26px;
    @media (max-width: 1000px) {
      text-align: center !important;
      align-items: center;
      padding-top: 4px;
    }
  }

 

  .imp-head {
    font-size: 32px;
   font-weight: bold;
   padding-bottom: 12px;
  }
}

 .imp-mail {
    margin-top: 12px !important;
  }