<section>
  <app-header></app-header>
  <div class="hero-container">
    <h3>Frontend Developer</h3>
    <h1>Murat Catili</h1>
    <div class="banner-container">
      <div class="banner"><p>Check my Work</p></div>
      <div class="banner"><p>Contact me</p></div>
    </div>
  </div>

  <div class="siide-scroller-background">
    <div class="side-scroller">
      <p>Available for remote work</p>
      <p>Frontend Developer</p>
      <p>Based in Munich</p>
      <p>Open to work</p>
    </div>
    <div class="side-scroller">
      <p>Available for remote work</p>
      <p>Frontend Developer</p>
      <p>Based in Munich</p>
      <p>Open to work</p>
    </div>
    <div class="side-scroller">
      <p>Available for remote work</p>
      <p>Frontend Developer</p>
      <p>Based in Munich</p>
      <p>Open to work</p>
    </div>
  </div>
</section>
