@import "../../styles.scss";

section {


overflow: hidden;
  min-height: 60dvh;
  color: $first-color;
  padding-top: 105px;
  background: $first-color;
 
  @media(max-width: 900px) {
    padding-top: 55px;
  }

  @media(max-width: 600px) {
    padding-top: 30px;
  }

}



h4 {
  color: $primary-color;
  font-size: 32px;
  font-family: "Fira Code", monospace;
  font-weight: 700;
  margin-bottom: 24px;
 @media(max-width: 500px) {
    font-size: 25px;
  }
  @media(max-width: 400px) {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-right: 10px;
    margin-left: 10px;

  }
}



.main-ref {
  margin-top: 50px;
  mask: linear-gradient(90deg, transparent, white 3%, white 97%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 3%,
    white 97%,
    transparent
  );


  position: relative;

  display: flex;
height: 450px;
  gap: 48px;
  flex-direction: column;

  text-align: center;

  @media (max-width: 900px) {
    gap: 12px;
    margin-top: 160px;
  }
}

