@import "../../styles.scss";

section {
  border-top: 1px solid $primary-10;
  border-bottom: 1px solid $primary-10;
overflow: hidden;
  height: 70dvh;
  color: $first-color;
  padding-top: 105px;
  background: rgb(28,28,28);
  background: radial-gradient(circle, rgba(28,28,28,1) 92%, $second-color-70 100%);

}



h4 {
  color: $primary-color;
  font-size: 32px;
  font-family: "Fira Code", monospace;
  font-weight: 700;
}



.main-ref {
  mask: linear-gradient(90deg, transparent, white 3%, white 97%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 3%,
    white 97%,
    transparent
  );


  position: relative;

  display: flex;
height: 450px;
  gap: 48px;
  flex-direction: column;

  text-align: center;
}

