<section>
  <div class="main-contact">
    <div class="contact-text">
      <div class="contact-head">
        <h4>Contact me</h4>
        <h2>
          Let's work <br />
          together
        </h2>
      </div>
      <div class="contact-description">
        <div class="problem-head">
          <p>Got a problem to solve?</p>
        </div>

        <p class="text">
          Contact me through this form, I am interested in hearing from you,
          knowing <br> your ideas and contributing to your projects with my work.
        </p>

        <p class="text">Need a Frontend developer? <span>Let’s talk!</span></p>
      </div>
    </div>
    <div class="form">
      <div class="input-overlay">
      <div class="input-container">
        <label for="name">What's your name?</label>
        <input type="text" autocomplete="off" id="name" name="name" placeholder="Your name goes here" />
      </div>
      <div class="input-container">
        <label for="mail">What's your email?</label>
        <input type="text" autocomplete="off" id="mail" name="mail" placeholder="youremail@email.com" />
      </div>
      <div class="input-container border-btm">
        <label for="message">How can I help you? </label>
        <textarea id="message" name="message" placeholder="Hello Lukas, I am interested in..."></textarea>
      </div>
      </div>
      <div class="agb-submit">
      <div class="agb-check-container">
        <div class="checkbox"></div>
        <p>I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.</p>
      </div>
      <div class="submit-container">
        <button>Say Hello ;) </button>
      </div>
      </div>
    </div>
   
  </div>
</section>
